aiohttp-cors==0.7.0
async-timeout==3.0.1
brotlipy==0.7.0
certifi~>2024.07.04
cycler==0.10.0
Cython==0.29.17
jedi==0.17.0
numpy~>1.22
Pillow==10.2.0
pillow~>10.3.0
pycosat==0.6.3
pyparsing==2.4.7
pytest==6.2.2
python-dateutil==2.8.1
ruamel-yaml==0.15.87
sip==4.19.13
